body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
a,
ul{
    list-style-type: none;
    text-decoration: none;
}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.container{
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
    .container{
        width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container{
        width: 1158px;
        padding: 0 15px;
    }
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46,47,66,0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-list, 
.contacts-email{
    display: none;
}

.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    margin-right: 76px;
    position: relative; 
    color: #404bbf;
}

.logo-accent{
    color: #2e2f42;
}

.header-logo{
    padding: 16px 0;
    display: block;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn{
        display: none;
    }

    .header-logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .contacts-email{
        font-style: normal;
        display: block;
    }

    .navigation{
        display: flex;
        align-items: center;
    }


    .nav-list{
        display: flex;
        align-items: center;
        gap: 40px;
    }


    .nav-link{
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        margin-right: 24px 0;
        display: block;
        padding: 24px 0;
    }
    .current{
        position: relative;
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    
    .current::after{
        display: block;
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link:hover {
         color: #404bbf;
    }
    .nav-link:focus {
        color: #404bbf;
    }

    .contacts{
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .address-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts:hover {
        color: #404bbf;
    }
    .contacts:focus{
        color: #404bbf;
    }

}



@media screen and (min-width: 1158px) {
    .header-logo{
        margin-right: 76px;
    }

    .address-list{
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    .contacts{
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
    }
}

    .mobile-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .mobile-menu.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-container{
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .nav-list-mobile{
        gap: 40px;
    }

    .mobile-menu-nav{
        margin-bottom: auto;
        gap: 40px;
    }

    .mobile-menu-close{
        position: absolute;
        top: 24px;
        left: 24px;
        right: 24px;
    }

    .link-mobile-menu{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
    }

    .current{
        position: relative;
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-list-mobile{
        gap: 24px;
    }

    .contacts-mobile{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #4d5ae5;
        display: block;
        list-style-type: none;
    }

    .social{
        display: flex;
        justify-content: center;
        gap: 40px;
        
    }
    
    .social-image{
        width: 40px;
        height: 40px;
    }
    .social-icon{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .mobile-menu-close:hover{
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }
    
    .mobile-menu-close:focus{
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }

    
.modal-icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
       

@media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }
}


@media screen and (min-width: 1158px) {
    .mobile-menu{
        display: none; 
    }
}


.section-one{
    display: block;
    min-width: 320px;
    background-color: #2e2f42;
    align-items: center;
    padding: 72px 0;
    background-image: 
    linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi) { 
    .section-one{
        background-image: 
    linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office-mob-2x.jpg);
    }
}

.title-section{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

    .section-one{
        padding: 188px 0;
        background-image: 
    linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office-tab.jpg);
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx), (min-resolution: 192dpi) { 
        .section-one{
            background-image: 
        linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/office-tab-2x.jpg);
        }
    }

.title-section{
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
    padding: 188px 0;
}
}


@media screen and (min-width: 1158px) {
.title-section{
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
    padding: 188px 0;
}
.section-one{
    background-image: 
    linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    max-width: 1440px;
}

}

.icons-main{
    display: none;
}

.main-container{
    background-image: linear-gradient rgba(46,47,66,0.7);
}

.main-content{
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-content{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0 auto;
}

.one-content{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.content-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.content{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .main-container{
        background-size: 768px 504px;
    }

    .main-content{
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .container-content{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
    }

    .one-content{
        width: calc((100% - 24px) / 2);
    }

    .content-title{
        text-align: start; 
    }
}


@media screen and (min-width: 1158px) {
.icons-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.main-container{
    background-size: 1440px 600px;
 }
.main-content{
    padding-top: 120px;
    padding-bottom: 120px; 
}
.container-content{
    display: flex;
    gap: 24px;
}
.one-content{
    width: calc((100% - 72px) / 4);
}
.content-title{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
}

.section-two {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.title-section-two{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.images{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.main-name{
    padding: 32px 0;

}
.title-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.content-two{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.social-image{
    width: 40px;
    height: 40px;
}

.social-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.social-icon:hover{
    background-color: #404bbf;
}
.social-icon:focus{
    background-color: #404bbf;
}

.icon-social-image{
    fill: #F4F4FD;
}
.social-image{
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 1158px) {
    .section-two {
        padding: 120px 0;
    }
    .main-images{
        width: calc((100% - 72px) / 4);
        
    }
}


@media screen and (min-width: 768px) {
    
    .main-images{
        padding-right: 0 32px;
    }

}





.title-section-three{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 96px;
}


.three-image-icon{
    position: relative;
    overflow: hidden;
    transform: translateY(0%);
}


.image-icon-pgf{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.three-image-icon:hover .image-icon-pgf{
    transform: translateY(0%);
}


.content-main-three{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-name-two{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.content-three{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .images-two{
        width: calc((100% - 48px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    
    .images-two:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        
    }


}